<header>
  <nav>
    <a href="https://www.yallo.ch/en">Overview</a>
    <a href="https://www.yallo.ch/en/mobile-products">Mobile</a>
    <a href="https://www.yallo.ch/en/home-internet">Internet</a>
    <a href="https://www.yallo.ch/tv">TV</a>
    <a href="https://support.yallo.ch/hc/en-gb">Support</a>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-links">
    <nav>
      <h5>Quick Links</h5>
      <a href="https://www.yallo.ch/home">Homepage</a>
      <a href="https://www.yallo.ch/en/roaming">Roaming Information</a>
      <a href="https://sunrise-yallo.cdn.prismic.io/sunrise-yallo/53523035-7fa5-4f82-b322-753f8c57ab36_yallo_Service_fees.pdf">Service Fees</a>
      <a href="https://www.yallo.ch/en/fraud">Report Fraud</a>
      <a href="">Device Repair</a>
    </nav>
    <nav>
      <h5>Offers</h5>
      <a href="">Mobile Plans</a>
      <a href="">Prepaid SIM</a>
      <a href="">Internet at Home</a>
      <a href="">5G Speed Option</a>
      <a href="">Saving Options</a>
      <a href="">Wi-Fi Calling</a>
    </nav>
    <nav>
      <h5>My yallo</h5>
      <a href="">Account Login</a>
      <a href="">My Products</a>
      <a href="">Usage History</a>
      <a href="">Past Invoices</a>
      <a href="">Settings</a>
    </nav>
    <nav>
      <h5>About yallo</h5>
      <a href="">Company</a>
      <a href="">Media Center</a>
      <a href="">Review & Awards</a>
      <a href="">Business Customers</a>
      <a href="">Reseller Login</a>
    </nav>

  </div>
</footer>
